<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @if(webpack_asset('main').css)
    <link rel="stylesheet" href="{{webpack_asset('main').css}}">
    @endif
    <title>Test</title>
</head>
<body>
    